/* Home.css */
.home_container {
    margin-top: 0px;
    display: flex;
    height: 100%;
    padding: 20px 80px 20px 80px;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    align-items: center;
}

button {
    margin-top: 30px;
    background-color: rgb(89, 89, 89);
    display: flex;
    padding: 15px;
    height: 50px;
    max-width: 140px;
    border-radius: 14px;
    justify-content: space-evenly;
    align-items: center;
    color: aliceblue;
    border: none;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
   
}
.sendButton:hover{
    color: #f9ff3c;;
    text-decoration: none;

}


.icon {
    margin-left: 4px;
}


.right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


.home_content {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
}


.home_title {
    font-size: 70px;
    margin-bottom: 10px;
    font-weight: 500;
    color: rgb(48, 48, 48);
}

.home_subtitle {
    position: relative;
    font-size: 18px;
    margin-bottom: 20px;
    padding-left: 4rem;
    color: rgba(89, 89, 90, 0.708);
    ;
}

.home_subtitle::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: rgba(89, 89, 90, 0.708);
    left: 0;
    top: 1rem;
}

.home_info {
    max-width: 420px;
    margin-bottom: 15px;
    color: rgba(83, 83, 83, 0.991);
    margin-right: 20px;
}

.highlight {
    font-size: 1.2rem;
    color: #365348de;
    font-weight: 500;
    animation: highlightText 1s ease infinite alternate;
    transition: color 0.s ease;
}

.highlight:hover {
    color: #ffa601;
 
}



.home_img {
    background: url(../Assets/profile2.jpeg);
    margin-left: 25px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    /* Optional: Make the picture circular */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(156, 156, 157, 0.473);
    order: 1;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

}

.home_social {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 10px;
    margin-left: 20px;
}

.home_social_icon {
    color: rgba(20, 19, 19, 0.724);
    font-size: 1rem;
}

.home_social_icon:hover {
    color: #ffa601;
    /* Change color on hover */
}









/* Add media queries for responsiveness================================================================ */
@media screen and (max-width: 992px) {

    .home_container {
        background-color: rgb(228, 52, 196);
    }

    .home_content {
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 768px) {

    .home_container {
        background-color: rgba(0, 0, 255, 0.537);
        display: flex;
        padding: 0px;
        margin: 0;
    }

    .home_content {
        display: flex;
        padding: 10px;
    }

    .home_text {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .home_info {
        font-size: 16px;
        color: rgb(48, 48, 48);
    }


    .home_img {
        width: 250px;
        height: 250px;
        margin: 0;
        text-indent: -9999px;
    }


    .home_title {
        font-size: 24px;
        font-weight: 500;
        color: rgb(40, 39, 39);
    }

    .home_subtitle {
        position: relative;
        font-size: 14px;
        padding-left: 2rem;
        color: rgba(89, 89, 90, 0.708);
    }

    .home_subtitle::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: rgba(89, 89, 90, 0.708);
        left: 0;
        top: 0.5rem;
    }

    .home_social {
        display: flex;
        column-gap: 1rem;
        padding: 10px;
        flex-direction: row;
        margin: 0;
    }

    .home_social_icon {
        color: rgba(20, 19, 19, 0.76);
    }


    .right_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding-left: 0px;
        margin-top: 20px;
    }



    .button_container {
        display: flex;
        align-items: center;
    }

    .button_container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    button {
        margin: 0;
        background-color: rgba(23, 23, 23, 0.794);
        display: flex;
        padding: 10px;
        height: 40px;
        max-width: 130px;
        border-radius: 14px;
        justify-content: space-evenly;
        align-items: center;
        color: aliceblue;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }


}

/* Mobile Smart Phone */
@media screen and (max-width: 480px) {

    .home_container {
        background-color: rgba(0, 0, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 45px;
    }

    .home_content {
        display: flex;
        padding: 12px;
        margin-top: 20px;
    }

    .home_text {
        display: flex;
        flex-direction: column;
        padding: 8px;
       
    }

    .home_info {
        font-size: 14px;
        color: rgb(48, 48, 48);
    }


    .home_img {
        width: 220px;
        height: 220px;
        margin: 0;
        text-indent: -9999px;
    }


    .home_title {
        font-size: 40px;
        font-weight: 500;
        color: rgb(40, 39, 39);
    }

    .home_subtitle {
        position: relative;
        font-size: 14px;
        padding-left: 2rem;
        color: rgba(89, 89, 90, 0.708);
    }

    .home_subtitle::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: rgba(89, 89, 90, 0.708);
        left: 0;
        top: 0.5rem;
    }

    .home_social {
        display: flex;
        column-gap: 1rem;
        padding: 10px;
        flex-direction: row;
        margin: 0;
    }

    .home_social_icon {
        color: rgba(20, 19, 19, 0.724);
    }


    .right_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding-left: 0px;
    }

    .button_container {
        display: flex;
        align-items: center;
    }

    .button_container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    button {
        margin: 0;
        background-color: rgba(23, 23, 23, 0.794);
        display: flex;
        padding: 10px;
        height: 40px;
        max-width: 130px;
        border-radius: 14px;
        justify-content: space-evenly;
        align-items: center;
        color: aliceblue;
        border: none;
        font-size: 14px;
        cursor: pointer;
    }



}

@media screen and (max-width: 378px) {
 
    

}