/* Home.css */
.home_container {
    margin-top: 0px;
    display: flex;
    height: 100%;
    padding: 20px 80px 20px 80px;
    align-items: center;
    justify-content: center;
}

.button_container {
    display: flex;
    align-items:flex-end;
}


.sendButton {
    background-color: rgba(248, 248, 248, 0.868);
    display: flex;
    padding: 10px;
    padding-left: 16px;
    height: 45px;
    min-width: 110px;
    text-align: left;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: rgb(51, 57, 62);
    border: 2px solid #525252;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    margin-right: -20px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.28);
}

.sendButton:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(57, 90, 102, 0.581);
    border: 2px dotted #fefff6;
}



.icon {
    color: rgb(45, 50, 50);
    margin-left: 2px;
    font-size: 22px;
}



.right_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


.home_content {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    display: flex;
}


.home_title {
    font-size: 80px;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: rgb(48, 48, 48);
}

.home_subtitle {
    position: relative;
    font-size: 18px;
    margin-bottom: 0px;
    padding-left: 4rem;
    color: rgba(89, 89, 90, 0.708);
}

.home_subtitle::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 1px;
    background-color: rgba(89, 89, 90, 0.708);
    left: 0;
    top: 1rem;
}

.home_info {
    max-width: 430px;
    padding-top: 24px;
    margin-bottom: 15px;
    color: rgba(83, 83, 83, 0.991);
    margin-right: 20px;
    font-size: 20px;
}


.highlight {
    font-size: 20px;
    font-weight: 500;
    color: #365348de;
    animation: colorChange 2s ease-in-out infinite alternate;
    transition: color 0.5s ease;
}

@keyframes colorChange {
    from {
        color: #345351f6;
     
        /* Dark blue */
    }

    to {
        color: #6b9aa9;
  
        /* Light blue */
    }
}





.home_img {
    background: url('../Assets/profile2.jpeg');
    margin-left: 25px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(156, 156, 157, 0.473);
    order: 1;
    animation: profile_animate 8s ease-in-out infinite 1s;
}

@keyframes profile_animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

}

.home_social {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 10px;
    margin-left: 20px;
}

.home_social_icon {
    color: rgba(20, 19, 19, 0.724);
    font-size: 1rem;
}

.home_social_icon:hover {
    color: #ffa601;
    /* Change color on hover */
}









/* Add media queries for responsiveness================================================================ */

@media screen and (max-width: 1022) {}

@media screen and (max-width: 768px) {}




/* Mobile Smart Phone */
@media screen and (max-width: 480px) {

    .home_container {
        background-color: rgba(0, 0, 255, 0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 10px 0px 10px;
    }

    .home_content {
        display: flex;
        padding: 12px;
        margin-top: 20px;
    }

    .home_text {
        display: flex;
        flex-direction: column;
        padding: 8px;

    }

    .home_info {
        font-size: 17px;
        color: rgb(48, 48, 48);
        line-height: 1.4rem;
        padding-top: 20px;
    }


    .home_img {
        width: 200px;
        height: 200px;
        margin: 0;
        text-indent: -9999px;
    }


    .home_title {
        font-size: 40px;
        font-weight: 500;
        color: rgb(40, 39, 39);
    }

    .home_subtitle {
        position: relative;
        font-size: 14px;
        padding-left: 2rem;
        color: rgba(89, 89, 90, 0.708);
    }

    .home_subtitle::before {
        content: '';
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: rgba(89, 89, 90, 0.708);
        left: 0;
        top: 0.5rem;
    }

    .home_social {
        display: flex;
        column-gap: 1rem;
        padding: 10px;
        flex-direction: row;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .home_social_icon {
        color: rgba(20, 19, 19, 0.724);
   
    }


    .right_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        padding-left: 0px;
        margin: 0;
    }

    .button_container {
        display: flex;
      
    }

    .sendButton {
        background-color: rgba(248, 248, 248, 0.868);
        margin-right: 0px;
        display: flex;
        padding: 10px;
        height: 38px;
        min-width: 100px;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(51, 57, 62);
        border: 2px solid #525252;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        transition: color 0.3s ease;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.28);

    }

    .sendButton:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: rgba(57, 90, 102, 0.581);
        border: 2px dotted #fefff6;
    }



}