.card_container {
    width: 220px;
    height: 250px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #fff;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
}

.card_container img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    transition: opacity .2s ease-out;
}


.card_container h2 {
    position: absolute;
    inset: auto auto 30px 30px;
    margin: 0;
    transition: inset .3s .3s ease-out;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 28px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.472);
}

.card_container .skillsBox,
.card_container .buttonBox {
    position: absolute;
    opacity: 0;
    max-width: 80%;
    transition: opacity .3s ease-out;
}

.card_container .skillsBox {
    inset: auto auto 40px 30px;
    color: rgb(83, 83, 94);
    font-family: "Open Sans", sans-serif;

}

.card_container .buttonBox {
    font-size: 16px;
    inset: auto auto 20px 30px;
    color: inherit;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}

.card_container:hover h2 {
    inset: auto auto 160px 30px;
    transition: inset .6s ease-out;
    color: #353535;
}

.card_container:hover .skillsBox,
.card_container:hover .buttonBox {
    opacity: 1;
    transition: opacity .5s .1s ease-in;
}

.card_container:hover img {
    transition: opacity .3s ease-in;
    opacity: 0.3;
}






/* Button CSS */
.button-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
    background: #6E6D70;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
    color: #DFDEDF;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-12:focus {
    box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}


.row {
    width: 100%;
    justify-content: center;
}

/* Modal CSS */
.modal_title {
    font-family: "Montserrat", sans-serif;
}

.gallery-show-grid {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
}

.modal-open {
    background-color: rgba(41, 40, 40, 0.362);
}

.gallery-show-grid img {
    width: 100%;
    border-radius: 18px;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    object-fit: contain;
    background-color: #fefff6;
}

.leftBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link_options {
    width: 100%;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    align-items: first baseline;
    text-decoration: none;
    gap: 12px;

    a {
        text-decoration: none;
        color: #575757;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        position: relative;
    }
    

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #88999f;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
      }
      
      a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
      }


}




.img-container {
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px;
}

.gallery-show-grid h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 28px;
    color: rgb(56, 56, 56);
    text-align: left;
}

.gallery-show-grid h4 {
    font-size: 18px;
    text-align: left;
    color: #757575;
    padding: 12px;
}

.modal_top_content {
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 30px;
        color: #252525;

    }

    h3 {
        font-size: 18px;
        font-family: "Open Sans", sans-serif;
        font-weight: 100;
        color: rgb(83, 83, 83);
        text-align: left;
    }
}

.modal_bottom_content {
    background-color: rgba(64, 224, 208, 0);
    display: flex;
    gap: 20px;
    padding-top: 30px;

    ul {
        padding-left: 1rem;
        line-height: 1.5rem;
    }
}

.modal_features {
    width: 100%;
    background-color: #F2F0EF;
    text-align: left;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 12px;
    padding: 12px;

    h3 {
        text-align: center;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #757575;
        ;
        margin-bottom: 18px;
    }
}


.modal_tools {
    width: 100%;
    text-align: left;
    border-radius: 12px;
    background-color: #F2F0EF;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 12px;
    display: flex;
    flex-direction: column;

    h3 {
        text-align: center;
        font-size: 18px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        color: #757575;
        margin-bottom: 18px;
    }

}


.gallery-show-grid p {
    text-align: left;
    margin-left: 0px;
    font-size: 16px;
    color: rgb(125, 125, 125);
    margin-bottom: 10px;
}




.button_modal {
    background-color: rgba(248, 248, 248, 0.868);
    display: flex;
    padding: 10px;
    height: 34px;
    min-width: 90px;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(51, 57, 62);
    border: 2px solid #525252;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    transition: color 0.3s ease;
    box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.28);

    p {
        margin: 0;
        padding-right: 3px;
        font-size: 12px;
    }

    .iconPopUp {
        font-size: 12px;
    }
}

.button_modal:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: rgba(57, 90, 102, 0.581);
    border: 2px dotted #fefff6;
}










/* Mobile Smart Phone */
@media screen and (max-width: 480px) {
    .projects_container {
        padding: 40px 10px 0px 10px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .card_container {
        width: 150px;
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        color: #fff;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
    }

    .card_container img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;

    }


    .card_container h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
    }

    .card_container .skillsBox,
    .card_container .buttonBox {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-size: 12px;
    }

    .card_container .skillsBox {
        inset: auto auto 30px 10px;
        color: rgb(255, 255, 255);
        font-family: "Roboto", sans-serif;
    }

    .card_container .buttonBox {
        inset: auto auto 0px 30px;
        color: inherit;
        font-family: "Roboto", sans-serif;
        text-decoration: none;
    }

    .card_container:hover h2 {
        inset: auto auto 120px 20px;
        transition: inset .3s ease-out;
        color: #353535;
    }

    .card_container:hover .skillsBox,
    .card_container:hover .buttonBox {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    .card_container:hover img {
        transition: opacity .3s ease-in;
        opacity: 0.3;
    }




    .card_container:hover .skillsBox,
    .card_container:hover .buttonBox {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
        color: rgb(83, 83, 94);
        font-family: "Open Sans", sans-serif;

    }

    .card_container:hover img {
        transition: opacity .3s ease-in;
        opacity: 0.3;
    }


    modal-open {
        background-color: rgba(58, 57, 57, 0.362);
    }


    .gallery-show-grid-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .gallery-show-grid img {
        width: 100%;
        border-radius: 18px;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
        object-fit: contain;
        background-color: #fefff6;
    }

    .link_options {
        padding-top: 8px;
        width: 100%;
        padding-right: 10px;
        display: flex;
        justify-content: flex-end;
        height: 30px;
        align-items: first baseline;
        text-decoration: none;

        a {
            text-decoration: none;
            color: rgb(100, 135, 162);
            font-size: 18px;
            font-family: 'Roboto', sans-serif;
            margin-left: 20px;
        }

        a:hover {
            color: rgb(128, 193, 194);
            cursor: pointer;
        }
    }


    .img-container {
        display: flex;
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .gallery-show-grid h2 {
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        font-size: 28px;
        color: rgb(56, 56, 56);
        text-align: left;
    }

    .gallery-show-grid h4 {
        font-size: 18px;
        text-align: left;
        color: #757575;
        padding: 12px;
    }

    .modal_top_content {
        width: 100%;
        background-color: rgba(255, 255, 0, 0);
        display: flex;
        flex-direction: column;
        padding-top: 20px;

        h2 {
            font-size: 30px;
            color: #252525;

        }

        h3 {
            font-size: 18px;
            font-family: "Open Sans", sans-serif;
            font-weight: 100;
            color: rgb(83, 83, 83);
            text-align: left;
        }
    }

    .modal_bottom_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;

        ul {
            padding-left: 1rem;
            line-height: 1.5rem;
        }
    }

    .modal_features {
        width: 100%;
        background-color: #F2F0EF;
        text-align: left;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        border-radius: 12px;
        padding: 12px;

        h3 {
            text-align: center;
            font-size: 18px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: #757575;
            ;
            margin-bottom: 18px;
        }
    }


    .modal_tools {
        width: 100%;
        text-align: left;
        border-radius: 12px;
        background-color: #F2F0EF;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        padding: 12px;
        display: flex;
        flex-direction: column;

        h3 {
            text-align: center;
            font-size: 18px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: #757575;
            margin-bottom: 18px;
        }

    }


    .gallery-show-grid p {
        text-align: left;
        margin-left: 0px;
        font-size: 16px;
        color: rgb(125, 125, 125);
        margin-bottom: 10px;
    }




    .button_modal {
        background-color: rgba(248, 248, 248, 0.868);
        display: flex;
        padding: 10px;
        height: 34px;
        min-width: 90px;
        border-radius: 20px;
        justify-content: space-evenly;
        align-items: center;
        color: rgb(51, 57, 62);
        border: 2px solid #525252;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        transition: color 0.3s ease;
        box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.28);
        margin-bottom: 6px;

        p {
            margin: 0;
            padding-right: 3px;
            font-size: 12px;
        }

        .iconPopUp {
            font-size: 12px;
        }
    }

    .button_modal:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: rgba(57, 90, 102, 0.581);
        border: 2px dotted #fefff6;
    }






}