/* App.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html,
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#home,
#about,
#projects,
#contact,
#timeLine {
    background: linear-gradient(190deg, rgba(246, 246, 232, 0.645), rgba(193, 126, 126, 0) 70.71%),
    linear-gradient(90deg, rgba(237, 243, 237, 0.774), rgba(3, 41, 3, 0) 70.71%),
    linear-gradient(70deg, rgba(230, 239, 254, 0.777), rgba(15, 15, 203, 0) 70.71%);
    width: 100vw;
    height: 100vh;
    margin: 0;
}