/* App.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, 
body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}



#projects {
    width: 100vw;
    height: 80vh;
    margin: 0;
}



#home, #about, #skills, #contact, #timeLine {
    border: 1px solid #f66b4400;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
